ion-content {
  // --background: #d9ebfd; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

.Custom-toolbar{
  --background: #f3f9ff; 
  color: black;

}



.welcome-container {
  margin-top: 30px;
  margin-bottom:50px;
  text-align: center;
  
}

.welcome-container ion-title {
  font-size: 1.6rem;
  font-weight: bold;
  color: #333;
}

.welcome-text {
  font-size: 1.2rem;
  color: #666;
  font-weight: bold;
 
}  

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: #d9ebfd;
  border-radius: 50px;
  margin: 20px;
}

.ion-image-container {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 20px;
  object-fit: cover;
 
}




ion-button{

  --background: linear-gradient(140deg, rgba(75, 118, 200, 1) 0%, rgba(31, 70, 145, 1) 100%);
  --border-radius: 45px;
  --font-size: 20px;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  --align-items: center;
  --justify-content: center;
  display: flex;
  color: white;
  margin-top:30px;


} 